{% extends 'base.html.twig' %}

{% block title %}ToDo List{% endblock %}

{% block body %}
    <div class="container mt-5">

        {{ include('todo/_form.html.twig', { form: form }) }}

        <ul
                id="todo-list"
                class="list-group">
            {% for todo in todos %}
                {{ include('todo/_todo.html.twig', { todo: todo }) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

